<h1>Tranzakciók</h1>

<table>
  <thead>
    <tr>
      <th>Dátum</th>
      <th>Leírás</th>
      <th>Összeg</th>
    </tr>
  </thead>
  <tbody>
    @for (transaction of transactions(); track transaction.id) {
      <tr>
        <td>{{ transaction.date | date: formats.date }}</td>
        <td>{{ transaction.description }}</td>
        <td>
          {{ transaction.amount | currency: formats.currency : 'symbol' : formats.currencyDigits }}
        </td>
      </tr>
    } @empty {
      <tr>
        <td colspan="3">Nincs megjeleníthető tranzakció.</td>
      </tr>
    }
  </tbody>
</table>
